numpy<2.0.0
numpy-financial
pandas
convertdate
LunarCalendar
holidays
matplotlib
plotly
tqdm
scikit-learn
sqlalchemy
prophet
haversine
openpyxl
Flask
PyMySQL
requests
python-dotenv
sphinx
sphinx-rtd-theme
seaborn
xgboost
geopy
