numpy
numpy-financial
pandas
convertdate
LunarCalendar
holidays
matplotlib
plotly
tqdm
scikit-learn
sqlalchemy
prophet
pystan
haversine
openpyxl
Flask
Flask-WTF
PyMySQL
requests
python-dotenv
sphinx
sphinx-rtd-theme
seaborn
xgboost
geopy
